*{
    margin: 0px;
    padding: 0px;
}
.cart{
    margin-top: 3px;
}
.Users{
    margin-top: 13px;
  position: relative;
 
}
.userslist{
    display: none ;
    position: absolute;
  
}
.Users:hover.userslist{
    display: block;
}

 li:hover{
    text-decoration: underline;
 }
