
.sign{
    width:30%;
    position: relative;
    left: 35%;
    margin-top: 2%;
    border: solid 2px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation:fadeIn 0.5s ease-in-out ;
}
.sign1{
    position: relative;
    left:45%;
    margin-top: 15px;
}
.arrow{
    position: relative;
    left:2%;
   width: 40px;
   height: 40px;
   margin-top: 2%;
}