.list li{
    list-style-type: none;
    padding: 10px;
}
.items-btn{
    position: relative;
    left:30%;
    
}
h1{
    text-align: center;
}
.userlist{
    position: relative;
    left:30%;

}
.user{
    margin-top: 2%;
}
